
<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="images/ITGAM.jpg">
          <span class="card-title">ITGAM</span>
        </div>
        <div class="card-content">
          <p>Formar profesionistas capaces de desarrollar, integrar y administrar tecnologías de la información y  comunicaciones que contribuyan a la productividad y al logro de  los objetivos estratégicos de las  organizaciones en un entorno globalizado; caracterizándose por ser líderes, críticos, competentes, éticos  y con visión emprendedora, comprometidos con el desarrollo sustentable. </p>
        </div>
        <div class="card-action">
          <a href="https://gamadero.tecnm.mx/">Visita nuestra página web</a>
        </div>
      </div>
    </div>
  </div>
            